{{cprTrace "START ACTOR CHARACTER LEFT-PANE CPR-LEFT-PANE-STATS.HBS"}}
<div class="actor-stats">
  {{#each actor.system.stats as |stat s| }}
    <div class="actor-stats-stat text-normal text-center">
      <div class="actor-stats-title text-semi">
        <a class="rollable" data-roll-type="stat" data-roll-title="{{s}}" data-tooltip="{{cprGetStatToolTip s}}">
          {{localize (cprFindConfigValue "statList" s)}}
        </a>
      </div>
      {{#unless (cprIsDefined this.max)}}
        <div class="actor-stats-value">
          <input name="system.stats.{{s}}.value" type="number" value="{{this.value}}"/>
        </div>
      {{else}}
        <div class="actor-stats-of flexrow">
          {{#if (cprCompare this.value ">" 99)}}
            <div class="actor-stats-of-min text-right">
              <input name="system.stats.{{s}}.value"
                     data-tooltip="{{cprTextTransform s "upper"}}
                       {{localize 'CPR.tooltip.valueOf'}}
                       {{this.value}}
                       {{localize 'CPR.tooltip.isTooLargeForThisField'}}"
                     type="number"
                     value="{{this.value}}"/>
            </div>
          {{else}}
            <div class="actor-stats-of-min text-right">
              <input name="system.stats.{{s}}.value"
                     type="number"
                     value="{{this.value}}"/>
            </div>
          {{/if}}
          <div class="actor-stats-of-sep">
            /
          </div>
          {{#if (cprCompare this.max ">" 99)}}
            <div class="actor-stats-of-max text-left">
              <input name="system.stats.{{s}}.max"
                     data-tooltip="{{cprTextTransform s "upper"}}
                       {{localize 'CPR.tooltip.maxOf'}}
                       {{this.max}}
                       {{localize 'CPR.tooltip.isTooLargeForThisField'}}"
                     type="number"
                     value="{{this.max}}"/>
            </div>
          {{else}}
            <div class="actor-stats-of-max text-left">
              <input name="system.stats.{{s}}.max"
                     type="number"
                     value="{{this.max}}"/>
            </div>
          {{/if}}
        </div>
      {{/unless}}
    </div>
  {{/each}}
</div>
{{cprTrace "END CPR-LEFT-PANE-STATS.HBS"}}
