{{cprTrace "START ACTOR CHARACTER RIGHT-PANE TABS GEAR CPR-CYBERWARE-CONTENT.HBS"}}
{{#unless item.system.isInstalled}}
<li class="item flexrow{{#if item.system.favorite}} favorite{{else}}{{#if (cprListContains sheet.options.collapsedSections "gearTab-cyberware")}} hide{{/if }}{{/if}}"
      data-item-id="{{item._id}}"
      data-item-category="{{item.type}}"
      draggable="true">
    <div class="
           item-name
           gear-name
           text-nowrap
           flexrow
           {{#if item.system.isFoundational}}
             text-semi
           {{/if}}"
           data-tooltip="
             {{localize (cprFindConfigValue "cyberwareTypeList" item.system.type) }}
             {{#if item.system.isFoundational}}
               ({{localize "CPR.global.generic.foundational" }})
             {{/if}}">
      <a class="name item-edit flex-center">
        <div class="item-thumb">
          <img src="{{item.img}}"/>
          {{#if item.system.isUpgraded }}
            <i class="fa-solid fa-square-up fa-xs" data-tooltip="{{localize "CPR.global.generic.upgraded"}}"></i>
          {{/if}}
        </div>
        {{cprBrandedName item}}
      </a>
      {{#if item.system.installedItems.list }}
        <a class="toggle-installed-visibility">
          <i class="fa-solid fa-chevron-up fa-sm {{#unless (cprGetProp actor.flags.cyberpunk-red-core.showInstalled item.id) }}fa-flip-vertical{{/unless}}"></i>
        </a>
      {{/if}}
    </div>
    <div class="item-detail gear-data text-nowrap"
         data-tooltip="{{cprSanitizeText item.system.description.value}}">
      {{cprSanitizeText item.system.description.value}}
    </div>
    <div class="item-detail gear-actions text-nowrap">
      {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-actions.hbs" item}}
    </div>
    {{cprNestedInstalledGearTab item}}
  </li>
{{/unless}}
{{cprTrace "END CPR-CYBERWARE-CONTENT.HBS"}}
